.u-color-black { color: $color-black !important };

.u-color-gray-dark-1 { color: $color-gray-dark-1 !important }

.u-margin-top-big { 
  margin-top: 8rem; 

  @include respond(phone){
    margin-top: 4rem;
  }
};

.u-margin-top-none { margin-top: 0 !important };

.u-float-right { float: right };

.u-text-center { text-align: center };

.u-padding-big { 
  padding: 2.4rem;
  
  @include respond(phone) {
    padding: 0
  }
}

.u-padding-small {
  @include respond(phone) {
    padding: 3rem 0 !important;
  }
}

.u-br-mobile {
  display: none;

  @include respond(phone) {
    display: static;
  }
}

.u-line-center {
  border-bottom: 1px solid white;
  height: 1px;
  width: 100%;
}

.u-line-center-mobile {
  @include respond(phone) {
    border-bottom: 1px solid white;
    height: 1px;
    width: 100%;
  }
}