.construction {
  margin-top: -6.4rem;
  position: relative;
  background-image: linear-gradient(rgba($color-black, .6), rgba($color-black, .6)), url('https://images.unsplash.com/photo-1517799094725-e3453440724e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80');
  background-size: cover;
  background-position: center;
  height: 96vh;

  &__container {
    @include centerHorizontalVertical;
  }
}