.construction {
  margin-top: -6.4rem;
  position: relative;
  background-image: linear-gradient(rgba($color-black, .6), rgba($color-black, .6)), url(/assets/coming-soon.jpg);
  background-size: cover;
  background-position: center;
  height: 96vh;

  &__container {
    @include centerHorizontalVertical;
  }
}