.section-intro {
  margin-top: -6.4rem;
  position: relative;
  padding: 15rem 0;
  background-color: white;
  // background-image: linear-gradient(rgba($color-white, .5), rgba($color-white, .5)), url('https://images.unsplash.com/photo-1438480478735-3234e63615bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2423&q=80');
  height: 97vh;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 80%);
  background-size: cover;
  background-position: bottom;
  z-index: 1;
  overflow: hidden;

  @include respond(phone) {
    padding: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  }
}

.section-summary {
  padding: 13rem 0 36rem;
  background-color: #00aced;
  margin-top: -20vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);

  @include respond(phone) {
    padding: 18rem 0 5rem;
    clip-path: none;
  }

}

.summary {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 50%;
    bottom: -2rem;
    left: 50%;
    transform: translate(-50%,0); 
    border-bottom: 1px solid white;

    @include respond(phone) {
      display: none;
    }
  }
}

.section-contact {
  padding: 10rem 0 0;
  height: 40rem;
  // margin-top: -18vh;
  position: relative;
  background-color: $color-gray-light-1;

  @include respond(phone){
    padding: 0;
    height: 100%;
  } 


}

.contact {
  background-color: $color-white;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .3); 
  border-radius: 3px;
  height: 100%;

  @include respond(phone) {
    box-shadow: none;
  }
  
  &__container {
    position: absolute;
    top: -30rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;

    @include respond(phone) {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      transform: translate(0)
    }
  }

  &__form {
    position: relative;
    padding: 6rem;
  }

  &__text-field {
    width: 95%;
    margin: 0 .8rem;
  }

  &__position {
    position: absolute;
    top: -8rem;
    left: 8rem;

    @include respond(phone){
      position: static
    }

    &-home {
      height: 62.5rem;
    }
  }
}

.map {
  position: relative;
  height: 45rem;

  @include respond(phone) {
    display: none;
  }

  &__container {
    height: 100%;
    width: 100%;
    // position: absolute;
    top: 0;
    left: 0;
  }
}

.heading__container {
  position: absolute;
  top: 37%;
  left: 21%;

  @include respond(phone) {
    top: 47%;
    left: 11%;
  }
}