.profile-img {
  // margin: 2.4rem;
  // width: 25rem !important;
  // height: 25rem !important;
  
  height: 97vh;
  

  

  &__container {
    position: absolute;
    top: 0;
    right: 20%;
  }
}

