.profile-img {
  margin: 2.4rem;
  width: 25rem !important;
  height: 25rem !important;
  // position: absolute !important;
  // top: -24px;
  // left: -24px;

  // &__background {
  //   background-color: $color-black;
  //   width: 25rem;
  //   height: 25rem;
  //   clip-path: circle(50% at 50% 50%);
  //   position: relative;

    // &:hover {
    //   transform: scale(1.3);
    //   opacity: 0;
    // }
  // }

  // &:hover {
  //   transform: translateY(-.3rem);
  //   box-shadow: 0 1rem 2rem rgba($color-black, .2);
  // }
}