.social {
  position: absolute;
  top: 0;
  left: 0;

  &__list {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(13%, -50%);
    
    li {
      margin: 3rem 0;
    }
  }

  &__container {
    width: 8rem;
    height: 45rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-gray-light-2;
  }
}